#!/usr/bin/env nextflow
// Select multiple profiles by using -profile local, singularity

params {
  krakendb_url="ftp://ftp.ccb.jhu.edu/pub/data/kraken2_dbs/16S_Silva138_20200326.tgz"
  
  local_ariba_db_dir = "${baseDir}/assets/var-genes-ro"
  ariba_db_download = true
  kraken_db_download = true
  spa_primers = "${baseDir}/assets/spa-typing_primers"
  containers_dir = "${baseDir}/container"
  container_pipeline = "jasen_2021-07-07.sif"
  container_pipeline_fullpath = "${params.containers_dir}/${params.container_pipeline}"

  // Reporting
  report_template_file = "${baseDir}/exp/create_output_doc/Test_output.Rmd"
  bibliography = "${baseDir}/exp/create_output_doc/bibliography.bib"
  reference_style = "${baseDir}/exp/create_output_doc/pnas.csl"
  // container_reporting = "jasen_tidyverse_2021-07-07.sif"
  // container_reporting_fullpath = "${params.containers_dir}/${params.container_reporting}"
  container_reporting_fullpath = "library://ljmesi/default/jasen_tidyverse.sif:sha256.cc3d515fe07ecdecc3442eab15be98d646e6e3a0a3af87a288c61a1af1717dfb"

  resfinder_phenotypes = "https://bitbucket.org/genomicepidemiology/resfinder_db/raw/f26963481ec582d09889cf808d5680bc5adec4cc/phenotypes.txt"
  adapters = "${baseDir}/assets/adapters/qiaseq_adapters.fa"
}

profiles {
  Escherichia_coli{
    params.species = "Escherichia_coli"
    params.genome_name = "Escherichia_coli_GCF_000008865.2_ASM886v2"
    params.sample_ID = "Escherichia_coli_EC3693"
    params.spa_exist = false
    params.chewbbaca_db_download = true
    params.chewbbacadb_url = "https://www.cgmlst.org/ncs/schema/5064703/alleles/"
  }
  Staphylococcus_aureus{
    params.species = "Staphylococcus_aureus"
    params.genome_name = "Staphylococcus_aureus_GCF_000013425.1_ASM1342v1"
    params.spa_exist = true
    params.sample_ID = "Staphylococcus_aureus_HY161669"
    params.chewbbaca_db_download = true
    params.chewbbacadb_url = "https://www.cgmlst.org/ncs/schema/141106/alleles/"
  }
  Klebsiella_pneumoniae{
    params.species = "Klebsiella_pneumoniae"
    params.genome_name = "Klebsiella_pneumoniae_GCF_000240185.1_ASM24018v2"
    params.sample_ID = "Klebsiella_pneumoniae_AB164094"
    params.chewbbacadb_url = "https://www.cgmlst.org/ncs/schema/2187931/alleles/"
    params.chewbbaca_db_download = true
    params.spa_exist = false
  }
  Mycobacterium_tuberculosis{
    params.species = "Mycobacterium_tuberculosis"
    params.genome_name = "Mycobacterium_tuberculosis_GCF_000195955.2_ASM19595v2"
    params.sample_ID = "Mycobacterium_tuberculosis_prov1"
    params.chewbbacadb_url = "https://www.cgmlst.org/ncs/schema/741110/alleles/"
    params.chewbbaca_db_download = true
    params.spa_exist = false
  }
  Acinetobacter_baumannii{
    params.species = "Acinetobacter_baumannii"
    params.genome_name = "Acinetobacter_baumannii_GCF_002116925.1_ASM211692v1"
    params.sample_ID = "Acinetobacter_baumannii_MR130386-1"
    params.chewbbacadb_url = "https://www.cgmlst.org/ncs/schema/3956907/alleles/"
    params.chewbbaca_db_download = true
    params.spa_exist = false
  }
  Enterococcus_faecalis{
    params.species = "Enterococcus_faecalis"
    params.genome_name = "Enterococcus_faecalis_GCF_003319815.1_ASM331981v1"
    params.sample_ID = "Enterococcus_faecalis"
    params.chewbbacadb_url = "https://www.cgmlst.org/ncs/schema/3887469/alleles/"
    params.chewbbaca_db_download = true
    params.spa_exist = false
  }
  Enterococcus_faecium{
    params.species = "Enterococcus_faecium"
    params.genome_name = "Enterococcus_faecium_GCF_000336405.1_ASM33640v1"
    params.sample_ID = "Enterococcus_faecium_VR170213"
    params.chewbbacadb_url = "https://www.cgmlst.org/ncs/schema/991893/alleles/"
    params.chewbbaca_db_download = true
    params.spa_exist = false
  }
  Pseudomonas_aeruginosa{
    params.species = "Pseudomonas_aeruginosa"
    params.genome_name = "Pseudomonas_aeruginosa_GCF_000006765.1_ASM676v1"
    params.sample_ID = "Pseudomonas_aeruginosa_MRR160068"
    params.chewbbacadb_url = "https://www.cgmlst.org/ncs/schema/16115339/alleles/"
    params.chewbbaca_db_download = true
    params.spa_exist = false
  }
  Clostridioides_difficile{
    params.species = "Clostridioides_difficile"
    params.genome_name = "Clostridioides_difficile_GCF_002007885.1_ASM200788v1"
    params.sample_ID = "Clostridioides_difficile_CDO160115"
    params.chewbbacadb_url = "https://www.cgmlst.org/ncs/schema/12556067/alleles/"
    params.chewbbaca_db_download = true
    params.spa_exist = false
  }
  Mycobacterium_africanum{
    params.species = "Mycobacterium_africanum"
    params.genome_name = "Mycobacterium_africanum_GCF_000253355.1_ASM25335v1"
    params.sample_ID = "Mycobacterium_africanum"
    params.chewbbacadb_url = "https://www.cgmlst.org/ncs/schema/741110/alleles/"
    params.chewbbaca_db_download = true
    params.spa_exist = false
  }
  Mycobacterium_bovis{
    params.species = "Mycobacterium_bovis"
    params.genome_name = "Mycobacterium_bovis_GCF_005156105.1_ASM515610v1"
    params.sample_ID = "Mycobacterium_bovis"
    params.chewbbacadb_url = "https://www.cgmlst.org/ncs/schema/741110/alleles/"
    params.chewbbaca_db_download = true
    params.spa_exist = false
  }
  Salmonella_enterica{
    params.species = "Salmonella_enterica"
    params.genome_name = "Salmonella_enterica_GCF_000006945.2_ASM694v2"
    params.sample_ID = "Salmonella_enterica"
    params.chewbbacadb_url = "https://www.cgmlst.org/ncs/schema/4792159/alleles/"
    params.chewbbaca_db_download = true
    params.spa_exist = false
  }
  Enterobacter_cloacae{
    params.species = "Enterobacter_cloacae"
    params.genome_name = "Enterobacter_cloacae_GCF_000770155.1_ASM77015v1"
    params.sample_ID = "Enterobacter_cloacae_MRR160069"
    params.chewbbacadb_url = ""
    params.chewbbaca_db_download = false
    params.spa_exist = false
  }
  Proteus_mirabilis{
    params.species = "Proteus_mirabilis"
    params.genome_name = "Proteus_mirabilis_GCF_000069965.1_ASM6996v1"
    params.sample_ID = "Proteus_mirabilis_MRR160074"
    params.chewbbacadb_url = ""
    params.chewbbaca_db_download = false
    params.spa_exist = false
  }
  Proteus_vulgaris{
    params.species = "Proteus_vulgaris"
    params.genome_name = "Proteus_vulgaris_GCF_000754995.1_PVA"
    params.sample_ID = "Proteus_vulgaris_MRR160070"
    params.chewbbacadb_url = ""
    params.chewbbaca_db_download = false
    params.spa_exist = false
  }
  Mycobacterium_gordonae{
    params.species = "Mycobacterium_gordonae"
    params.genome_name = "Mycobacterium_gordonae_GCF_002101675.1_ASM210167v1"
    params.sample_ID = "Mycobacterium_gordonae"
    params.chewbbacadb_url = ""
    params.chewbbaca_db_download = false
    params.spa_exist = false
  }
  Mycobacteroides_abscessus{
    params.species = "Mycobacterium_abcessus"
    params.genome_name = "Mycobacteroides_abscessus_GCF_001606295.1_ASM160629v1"
    params.sample_ID = "Mycobacterium_abcessus"
    params.chewbbacadb_url = ""
    params.chewbbaca_db_download = false
    params.spa_exist = false
  }
  Mycobacterium_avium{
    params.species = "Mycobacterium_avium"
    params.genome_name = "Mycobacterium_avium_GCF_001865635.4_ASM186563v4"
    params.sample_ID = "Mycobacterium_avium"
    params.chewbbacadb_url = ""
    params.chewbbaca_db_download = false
    params.spa_exist = false
  }
  Mycobacterium_intracellulare{
    params.species = "Mycobacterium_intracellulare"
    params.genome_name = "Mycobacterium_intracellulare_GCF_000277125.1_ASM27712v1"
    params.sample_ID = "Mycobacterium_intracellulare"
    params.chewbbacadb_url = ""
    params.chewbbaca_db_download = false
    params.spa_exist = false
  }
  Mycobacterium_malmoense{
    params.species = "Mycobacterium_malmoense"
    params.genome_name = "Mycobacterium_malmoense_GCF_002086305.1_ASM208630v1"
    params.sample_ID = "Mycobacterium_malmoense"
    params.chewbbacadb_url = ""
    params.chewbbaca_db_download = false
    params.spa_exist = false
  }
  Staphylococcus_argenteus{
    params.species = "Staphylococcus_argenteus"
    params.genome_name = "Staphylococcus_argenteus_GCF_001891145.1_ASM189114v1"
    params.sample_ID = "Staphylococcus_argenteus"
    params.chewbbacadb_url = ""
    params.chewbbaca_db_download = false
    params.spa_exist = false
  }
  Staphylococcus_saprophyticus{
    params.species = "Staphylococcus_saprophyticus"
    params.genome_name = "Staphylococcus_saprophyticus_GCF_900635295.1_40853_E01"
    params.sample_ID = "Staphylococcus_saprophyticus"
    params.chewbbacadb_url = ""
    params.chewbbaca_db_download = false
    params.spa_exist = false
  }
  Stenotrophomonas_maltophilia{
    params.species = "Stenotrophomonas_maltophilia"
    params.genome_name = "Stenotrophomonas_maltophilia_GCF_900475405.1_44087_C01"
    params.sample_ID = "Stenotrophomonas_maltophilia"
    params.chewbbacadb_url = ""
    params.chewbbaca_db_download = false
    params.spa_exist = false
  }
  Streptococcus_pyogenes{
    params.species = "Streptococcus_pyogenes"
    params.genome_name = "Streptococcus_pyogenes_GCF_001267845.1_ASM126784v1"
    params.sample_ID = "Streptococcus_pyogenes"
    params.chewbbacadb_url = ""
    params.chewbbaca_db_download = false
    params.spa_exist = false
  }
  Citrobacter_braakii{
    params.species = "Citrobacter_braakii"
    params.genome_name = "Citrobacter_braakii_GCF_004331635.1_ASM433163v1"
    params.sample_ID = "Citrobacter_braakii"
    params.chewbbacadb_url = ""
    params.chewbbaca_db_download = false
    params.spa_exist = false
  }
  Corynebacterium_striatum{
    params.species = "Corynebacterium_striatum"
    params.genome_name = "Corynebacterium_striatum_GCF_004138065.1_ASM413806v1"
    params.sample_ID = "Corynebacterium_striatum"
    params.chewbbacadb_url = ""
    params.chewbbaca_db_download = false
    params.spa_exist = false
  }
  Enterococcus_gallinarum{
    params.species = "Enterococcus_gallinarum"
    params.genome_name = "Enterococcus_gallinarum_GCF_017641965.1_ASM1764196v1"
    params.sample_ID = "Enterococcus_gallinarum"
    params.chewbbacadb_url = ""
    params.chewbbaca_db_download = false
    params.spa_exist = false
  }
  Klebsiella_aerogenes{
    params.species = "Klebsiella_aerogenes"
    params.genome_name = "Klebsiella_aerogenes_GCF_900637945.1_53421_E01"
    params.sample_ID = "Klebsiella_aerogenes"
    params.chewbbacadb_url = ""
    params.chewbbaca_db_download = false
    params.spa_exist = false
  }
  Mycobacterium_chimera{
    params.species = "Mycobacterium_chimera"
    params.genome_name = "Mycobacterium_chimera_GCF_002219285.1_ASM221928v1"
    params.sample_ID = "Mycobacterium_chimera"
    params.chewbbacadb_url = ""
    params.chewbbaca_db_download = false
    params.spa_exist = false
  }
  Mycobacterium_malmoense{
    params.species = "Mycobacterium_malmoense"
    params.genome_name = "Mycobacterium_malmoense_GCF_002086305.1_ASM208630v1"
    params.sample_ID = "Mycobacterium_malmoense"
    params.chewbbacadb_url = ""
    params.chewbbaca_db_download = false
    params.spa_exist = false
  }
  Mycobacterium_kansasii{
    params.species = "Mycobacterium_kansasii"
    params.genome_name = "Mycobacterium_kansasii_GCF_000157895.3_ASM15789v2"
    params.sample_ID = "Mycobacterium_kansasii"
    params.chewbbacadb_url = ""
    params.chewbbaca_db_download = false
    params.spa_exist = false
  }
  Mycobacteroides_chelonae{
    params.species = "Mycobacterium_chelonae"
    params.genome_name = "Mycobacteroides_chelonae_GCF_001632805.1_ASM163280v1"
    params.sample_ID = "Mycobacterium_chelonae"
    params.chewbbacadb_url = ""
    params.chewbbaca_db_download = false
    params.spa_exist = false
  }
  Mycobacterium_celatum{
    params.species = "Mycobacterium_celatum"
    params.genome_name = "Mycobacterium_celatum_GCF_001632805.1_ASM163280v1"
    params.sample_ID = "Mycobacterium_celatum"
    params.chewbbacadb_url = ""
    params.chewbbaca_db_download = false
    params.spa_exist = false
  }
  Mycobacterium_marinum{
    params.species = "Mycobacterium_marinum"
    params.genome_name = "Mycobacterium_marinum_GCF_016745295.1_ASM1674529v1"
    params.sample_ID = "Mycobacterium_marinum"
    params.chewbbacadb_url = ""
    params.chewbbaca_db_download = false
    params.spa_exist = false
  }
  Mycobacterium_szulgai{
    params.species = "Mycobacterium_szulgai"
    params.genome_name = "Mycobacterium_szulgai_GCF_002116635.1_ASM211663v1"
    params.sample_ID = "Mycobacterium_szulgai"
    params.chewbbacadb_url = ""
    params.chewbbaca_db_download = false
    params.spa_exist = false
  }
  Mycobacterium_scrofulaceum{
    params.species = "Mycobacterium_scrofulaceum"
    params.genome_name = "Mycobacterium_scrofulaceum_GCF_002086735.1_ASM208673v1"
    params.sample_ID = "Mycobacterium_scrofulaceum"
    params.chewbbacadb_url = ""
    params.chewbbaca_db_download = false
    params.spa_exist = false
  }
  Mycobacterium_xenopi{
    params.species = "Mycobacterium_xenopi"
    params.genome_name = "Mycobacterium_xenopi_GCF_900453395.1_53750_B01"
    params.sample_ID = "Mycobacterium_xenopi"
    params.chewbbacadb_url = ""
    params.chewbbaca_db_download = false
    params.spa_exist = false
  }
  local {
    params.location='local'
    process.executor='local'
  }
  slurm {
    params.location='slurm'
    process.executor='slurm'
    process.queue='high'
  }
  conda {
    params.pkm = 'conda'

    params.rootdir = '/tmp/jasen/'
    params.outdir = "${params.rootdir}/results/"
    params.assets = "${params.rootdir}/assets/"
    params.reference = "${params.assets}/ref_genomes/${params.genome_name}.fna"
    params.krakendb="${params.assets}/references/minikraken2/"
    params.aribadb="${params.assets}/references/ariba/"
    params.chewbbacadb="${params.assets}/references/chewbbaca/"
  }
  singularity {
    params.pkm = 'singularity'

    params.outdir = "${baseDir}/results/${params.sample_ID}"
    params.assets =  "${baseDir}/assets/"
    params.reference = "${params.assets}ref_genomes/${params.genome_name}.fna"
    params.bwa = "${params.assets}references/bwa"
    params.krakendb = "${params.assets}references/minikraken2/"
    params.aribadb = "${params.assets}references/ariba"
    params.aribadb_local = "${params.assets}references/ariba_local"
    params.aribadb_nonc = "${params.assets}references/ariba_non-coding"
    params.chewbbacadb = "${params.assets}references/chewbbaca/"

    singularity.cacheDir = "${baseDir}/.singularity"
    singularity.enabled = true
    singularity.autoMounts = true
    process{
      withName:bwa_index_reference {
        container="${params.container_pipeline_fullpath}"
      }
      withName:cgmlst_db_init {
        container="${params.container_pipeline_fullpath}"
      }
      withName:kraken2_db_download {
        container="${params.container_pipeline_fullpath}"
      }
      withName:ariba_db_download {
        container="${params.container_pipeline_fullpath}"
      }
      withName:ariba_prepare_localdb {
        container="${params.container_pipeline_fullpath}"
      }
      withName:fastqc_readqc {
        container="${params.container_pipeline_fullpath}"
      }
      withName:lane_concatination {
        container="${params.container_pipeline_fullpath}"
      }
      withName:trimmomatic_trimming {
        container="${params.container_pipeline_fullpath}"
      }
      withName:ariba_resistancefind {
        container="${params.container_pipeline_fullpath}"
      }
      withName:ariba_resistancefind_local {
        container="${params.container_pipeline_fullpath}"
      }
      withName:ariba_resistancefind_nonc {
        container="${params.container_pipeline_fullpath}"
      }
      withName:ariba_stats {
        container="${params.container_pipeline_fullpath}"
      }
      withName:kraken2_decontamination {
        container="${params.container_pipeline_fullpath}"
      }
      withName:spades_assembly {
        container="${params.container_pipeline_fullpath}"
      }
      withName:mlst_lookup {
        container="${params.container_pipeline_fullpath}"
      }
      withName:chewbbaca_cgmlst {
        container="${params.container_pipeline_fullpath}"
      }
      withName:quast_assembly_qc {
        container="${params.container_pipeline_fullpath}"
      }
      withName:quast_json_conversion {
        container="${params.container_pipeline_fullpath}"
      }
      withName:bwa_read_mapping {
        container="${params.container_pipeline_fullpath}"
      }
      withName:samtools_duplicates_stats {
        container="${params.container_pipeline_fullpath}"
      }
      withName:picard_markduplicates {
        container="${params.container_pipeline_fullpath}"
      }
      withName:samtools_calling {
        container="${params.container_pipeline_fullpath}"
      }
      withName:vcftools_snpcalling {
        container="${params.container_pipeline_fullpath}"
      }
      withName:snp_translation {
        container="${params.container_pipeline_fullpath}"
      }
      withName:picard_qcstats {
        container="${params.container_pipeline_fullpath}"
      }
      withName:samtools_deduplicated_stats {
        container="${params.container_pipeline_fullpath}"
      }
      withName:multiqc_report {
        container="${params.container_pipeline_fullpath}"
      }
      withName:spa_gene_extraction  {
        container="${params.container_pipeline_fullpath}"
      }
      withName:build_report {
        container="${params.container_reporting_fullpath}"
      }
    }
  }
}

params {
  input = "${baseDir}/assets/sequencing_data/${params.sample_ID}"
  prodigal_file = "${baseDir}/assets/prodigal_training_files/${params.genome_name}.trn"
}

process {
  withLable: min_allocation {
    cpus = 20
    memory = '100.GB'
    time = '15m'
  }
  withLabel: modest_allocation {
    cpus = 50
    memory = '200.GB'
    time = '1h'
  }
  withLabel: max_allocation {
    cpus = 66
    memory = '450.GB'
    time = '2h'
  }
}



manifest {
  name = 'genomic-medicine-sweden/JASEN'
  author = 'Isak Sylvin et al.'
  homePage = 'https://github.com/genomic-medicine-sweden/JASEN.git'
  description = 'Json producing Assembly driven microbial Sequence analysis pipeline to support Epitypification and Normalize classification decisions'
  mainScript = 'main.nf'
  nextflowVersion = '>=10.0.0'
  version = '0.1.0'
}
